body{
    margin: 0;
    padding: 0;
    background-image: url(splash.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
    }

#navigation{
    height: 50px;
    width:100%;
    background-color: #fccecb;
    text-align: center;
    margin-top: -47px;
    font-size: 30px;
    line-height: 2.4;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 500;
    }

#musoschedule ul{
    padding-left: 5px;
}

#musoschedule ul li a{
    font-family: 'Montserrat',sans-serif;
    font-size: 18px;
    color: rgba(253, 82, 82, 0.966);
    text-decoration: none;
}

#line{
    height: 2px;
    background-color: rgba(184, 18, 18, 0.596);
    margin-bottom: 20px;
}

#filter{
    margin-left: 5px;
    height: 500px;
}

#filter input{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: honeydew;
    margin-left: 8px;
    margin-bottom: 8px;
    height: 35px;
}

table{
	border-collapse: collapse;
	font-size: .95em;
	font-family: 'Montserrat',sans-serif;
    width: 600px;
    white-space: nowrap;
}

table, th, td {
    border: 1px solid rgba(76, 175, 79, 0.63);
    padding: 8px;
    text-align: left;
    color: aqua;
  }

thead{
    display: table-header-group;
    vertical-align: middle;
}

tbody{
	display: table-row-group;
	vertical-align: middle;
}

tr:nth-child(even) {background-color: #f2f2f200;}
tr:nth-child(odd) {background-color: #f2f2f200;}

th {
  background-color: #4CAF50;
  color: white;
}

table a{
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

audio { 
    width: 250px; 
    box-shadow: 5px 5px 20px rgba(0,0, 0, 0.4);
    border-radius: 80px;
    transform: scale(1);
    height:30px;
  }

@media screen and (max-width: 600px){
    #filter{
        margin-left: 5px;
        height: 500px;
    }

    table{
        display: block;
        overflow: auto;
        table-layout: fixed;
        white-space: nowrap;
        height: auto;
        width: 100%;
        }

    #musoschedule ul{
        padding-left: 5px;
    }

    #songstable{
        height: auto;
    }
}